.aboutSection{

  background-color:#FEB61A;

  padding:80px;

}


/* título centrado arriba */
.aboutTitle{

  font-size:56px;

  color:#4155B9;

  margin-bottom:60px;

  text-align:center;

}


/* fila texto + imagen */
.aboutHero{

  min-height:600px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  gap:60px;

  max-width:1200px;

  margin:auto;

}


.aboutText{
  flex:1;
  max-width:700px;

}


.aboutParagraph{

  font-size:30px;

  color: var(--secondary);

  margin-bottom:18px;

}

.aboutImage{

  width:350px;

  border-radius:25px;

  box-shadow:0 10px 25px rgba(0,0,0,0.08);

}