.contactHero{
  background-color:#FEB61A;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:40px 20px 60px 20px;
  gap:40px;
}


.contactText{
  max-width:520px;
  text-align:center;
}


.contactTitle{
  font-size:38px;
  color:#4155B9;
  margin-bottom:18px;
}


.contactSubtitle{
  font-size:18px;
  color:#4155B9;
  margin-bottom:20px;
}


.contactForm{
  display:flex;
  flex-direction:column;
  gap:14px;
  width:100%;
  max-width:420px;
}

.contactForm input,
.contactForm textarea{
  padding:14px;
  border-radius:12px;
  border:none;
  font-size:16px;
  background-color:#D6D6D6;
}


.contactForm textarea{
  min-height:120px;
  resize:vertical;
}


.contactButton{
  background-color:#E4664D;
  color:white;
  padding:14px 24px;
  border-radius:12px;
  font-size:16px;
  border:none;
  cursor:pointer;
  width:100%;
}


.contactButton:hover{
  background-color:#2F97C7;
}


.contactIllustration{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:18px;
  max-width:260px;
}


.contactImage{
  width:100%;
}


.contactActions{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:16px;
}


.instagramLogo{
  width:36px;
  cursor:pointer;
}


.instagramLogo:hover{
  opacity:0.7;
}



/* Responsive */
@media (min-width:768px){
  .contactHero{
    padding:60px;
  }

  .contactTitle{
    font-size:48px;
  }

  .contactButton{
    width:170px;
  }
}


@media (min-width:1024px){
  .contactHero{
    min-height:600px;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:120px;
    padding:40px 80px 60px 80px;
  }

  .contactText{
    text-align:left;
  }

  .contactTitle{
    font-size:56px;
  }

  .contactIllustration{
    max-width:320px;
  }

  .contactImage{
    width:260px;
  }
}