.gallerySection{
  min-height:100vh;
  padding:120px 80px;
}

.galleryTitle{
  color:#4155B9;
  font-size:3rem;
  margin-bottom:70px;
}

/* GRID */
.galleryGrid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:40px;

  /* altura base para que encajen */
  /* grid-auto-rows: 280px; */
}

/* TARJETA */
.galleryCard{
  background-color:white;
  border-radius:20px;
  padding:4px;
  box-shadow:0 15px 35px rgba(0,0,0,0.08);
  overflow:hidden;
}

/* tamaños */
.galleryCard.large{
  grid-row: span 2;
}

.galleryCard.wide{
  grid-column: span 2;
}

/* IMAGEN */
.galleryCard img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:14px;
}

.modalOverlay{

  position:fixed;

  top:0;
  left:0;

  width:100vw;
  height:100vh;

  background-color:rgba(0,0,0,0.85);

  display:flex;

  justify-content:center;
  align-items:center;

  z-index:999;

}


.modalImage{

  max-width:90vw;

  max-height:90vh;

  border-radius:12px;

}