.gallerySection{
  min-height:100vh;
  padding:120px 80px;
}

.galleryTitle{
  color:#4155B9;
  font-size:3rem;
  margin-bottom:70px;
}

/* GRID */
.galleryGrid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  grid-auto-rows: 220px;

  /* altura base para que encajen */
  /* grid-auto-rows: 280px; */
}

/* TARJETA */
.galleryCard{
  background-color:white;
  border-radius:12px;
  padding:2px;
  box-shadow:0 15px 35px rgba(0,0,0,0.08);
  overflow:hidden;

  max-height: 420px;
}

/* tamaños */
.galleryCard.large{
  grid-row: span 2;
}

.galleryCard.wide{
  grid-column: span 2;
}

/* IMAGEN */
.galleryCard img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:14px;

  transition: transform 0.3s, ease;
}

.galleryCard:hover img{
  transform: scale(1.05);
  cursor: zoom-in;
}

.modalOverlay{

  position:fixed;

  top:0;
  left:0;

  width:100vw;
  height:100vh;

  background-color:rgba(0,0,0,0.85);

  display:flex;

  justify-content:center;
  align-items:center;

  z-index:999;

}


.modalImage{

  max-width:90vw;

  max-height:90vh;

  border-radius:12px;

}