.portfolio{
  padding:40px 20px;
}


.portfolioTitle{
  margin-bottom:30px;
  text-align:center;
}


.portfolioGallery{
  display:flex;
  flex-direction:column;
  gap:40px;
}


.portfolioImage{
  width:100%;
  max-width:900px;
  margin:0 auto;
  display:block;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.loading{

  text-align:center;

  margin-top:80px;

  font-size:20px;

  font-family: "Source Sans 3", sans-serif;

  color:#4155B9;

}

/* Respomsive */

@media (min-width:768px){
  .portfolio{
    padding:60px 40px;
  }
  .portfolioTitle{
    text-align:left;
  }
}


@media (min-width:1100px){
  .portfolio{
    padding:80px;
  }
  .portfolioGallery{
    gap:60px;
  }
}