.navbar{

  background-color:#4155B9;
  padding:20px 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  border-bottom:2px solid var(--secondary);
}


/* contenedor logo + nombre */

.brand{
  display:flex;
  align-items:center;
  gap:12px;
  text-decoration:none;
}

.brandName{
  color: var(--accent);
  font-family: "Lilita One", sans-serif;
  font-size:60px;
  font-weight:bold;
  line-height:1;
}

.brandLogo{
  width:50px;
  height:auto;
  display:block;
}


/* links derecha */

.navLinks{
  display:flex;
  gap:40px;
}

.navLinks a{
  font-family: "Source Sans 3", sans-serif;
  color:white;
  text-decoration:none;
  font-size:18px;
  padding:8px 14px;
  border-radius:20px;
}

.navLinks a:hover{
  background-color:#E4664D;
}