:root{
  --primary: #4155B9;
  --accent: #E4664D;
  --highlight: #FEB61A;
  --secondary: #2F97C7;
  --neutral: #D6D6D6;
}

body{
  background-color: #ffffff;
  color: var(--primary);
  font-family: sans-serif;
}

h1{
  color: var(--primary);
}

button{
  background-color: var(--accent);
  color: white;
  border: none;
}

button:hover{
  background-color: var(--highlight);
}

p{
  color:#2F97C7;
}